{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">поиск номеров</h2>
    <form class="search" action="{% url "room_search" %}">
        <div class="content">
            <div class="content__list">
                <p class="label">Дата заезда</p>
                <div class="search__check-in-date value datepicker__input">
                    <input class="search__check-in datepicker" type="text" id="check-in" name="check_in" placeholder="Укажите дату въезда">
                    <button class="datepicker__button enable-ripple" id="search-check-in" type="button"><i class="far fa-fw fa-calendar-alt"></i></button>
                </div>
                <p class="label">Дата выезда</p>
                <div class="search__check-out-date value datepicker__input">
                    <input class="search__check-out datepicker" type="text" id="check-out" name="check_out" placeholder="Укажите дату выезда">
                    <button class="datepicker__button enable-ripple" id="search-check-out" type="button"><i class="far fa-fw fa-calendar-alt"></i></button>
                </div>
                <p class="label">Максимальная цена за ночь, рублей</p>
                <div class="search__price value">
                    <input type="text" id="price" name="price" placeholder="Укажите цену">
                </div>
                <p class="label">Количество гостей</p>
                <select class="search__visitors visitors value" name="visitors">
                    <option value=""></option>
                    <option value="1">1 гость</option>
                    <option value="2">2 гостя</option>
                    <option value="3">3 гостя</option>
                    <option value="4">4 гостя</option>
                </select>
                {% if error_message %}<div class="content__error">{{ error_message }}</div>{% endif %}
            </div>
            <div class="content__button">
                <button class="btn btn-green enable-ripple" type="submit">найти</button>
            </div>
        </div>
    </form>
    <div class="search-result">
        {% for room in rooms %}
        <div class="news-card fadein">
            <div class="news-card__photo">
                <a href="{% url 'room_detail' room.id %}">
                    <img src="{{ room.main_picture.url }}">
                </a>
            </div>
            <a class="news-card__body" href="{% url 'room_detail' room.id %}">
                <h2 class="news-card__title">{{ room.title }}</h2>
                <p class="news-card__text">{{ room.description }}</p>
                <p class="news-card__text-price"><i class="fas fa-ruble-sign"></i>{{ room.price }} рублей за сутки</p>
                <p class="news-card__text-room-size"><i class="fas fa-door-open"></i>{{ room.room_size }}м<sup>2</sup></p>
                <p class="news-card__text-sleeps-number"><i class="fas fa-bed"></i>{{ room.sleeps_number }} гостей</p>
            </a>
        </div>
        {% empty %}
            <p> К сожалению, на данный момент нет номеров удовлетворяющих Вашему поиску. Попробуйте изменить параметры поиска </p>
        {% endfor %}
    </div>
</div>
{% endblock %}