{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">{{ room.title }}</h2>
    <div class="room">
        <div class="room__photo">
            <div><img src="{{ room.main_picture.url }}"></div>
            {% for image in room.room_pictures.all %}
            <div><img src="{{ image.picture.url }}"></div>
            {% endfor %}
        </div>
        <div class="room__body">
            <h3 class="room__title">О номере</h3>
            <div class="room__list">
                <p class="label">Описание</p>
                <p class="value">{{ room.description }}</p>
                <p class="label">Цена за сутки, рублей</p>
                <p class="value">{{ room.price }}</p>
                <p class="label">Размер номера, м<sup>2</sup></p>
                <p class="value">{{ room.room_size }}</p>
                <p class="label">Количество мест, гостей</p>
                <p class="value">{{ room.sleeps_number }}</p>
            </div>
            <h3 class="room__title">Дополнительные услуги</h3>
            <div class="room__list">
                {% for extra_service in room.extra_services.all %}
                <p class="label">{{ extra_service.name }}</p>
                <p class="value">{{ extra_service.description }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="room__button">
        <a class="btn btn-green" href="{% url 'room_booking' room.id %}">Забронировать номер</a>
    </div>
    {% endif %}
</div>
{% endblock %}