{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">поиск номеров</h2>
    <form class="search" action="{% url "room_search" %}">
        <div class="content">
            <div class="content__list">
                <p class="label">Дата заезда</p>
                <div class="search__check-in-date value datepicker__input">
                    <input class="search__check-in datepicker" placeholder="Укажите дату въезда" {{ form.check_in_date }}
                    <button class="datepicker__button enable-ripple" id="search-check-in" type="button"><i class="far fa-fw fa-calendar-alt"></i></button>
                </div>
                <p class="label">Дата выезда</p>
                <div class="search__check-out-date value datepicker__input">
                    <input class="search__check-out datepicker" placeholder="Укажите дату выезда" {{ form.check_out_date }}
                    <button class="datepicker__button enable-ripple" id="search-check-out" type="button"><i class="far fa-fw fa-calendar-alt"></i></button>
                </div>
                <p class="label">{{ form.price.label }}</p>
                <div class="search__price value">
                    <input placeholder="Укажите цену" type="text" {{ form.price }}
                </div>
                <p class="label">{{ form.visitors.label }}</p>
                <select class="search__visitors visitors value" {{ form.visitors }}
                {% if error_message %}<div class="content__error">{{ error_message }}</div>{% endif %}
            </div>
            <div class="content__button">
                <button class="btn btn-green enable-ripple" type="submit">найти</button>
            </div>
        </div>
    </form>
    <div class="search-result">
        {% for room in rooms %}
        <div class="news-card">
            <div class="news-card__photo">
                <a href="{% url 'room_detail' room.id %}">
                    <img src="{{ room.main_picture.url }}">
                </a>
            </div>
            <a class="news-card__body" href="{% url 'room_detail' room.id %}">
                <h2 class="news-card__title">{{ room.title }}</h2>
                <p class="news-card__text">{{ room.description }}</p>
                <p class="news-card__text-price"><i class="fas fa-ruble-sign"></i>{{ room.price }} рублей за сутки</p>
                <p class="news-card__text-room-size"><i class="fas fa-door-open"></i>{{ room.room_size }}м<sup>2</sup></p>
                <p class="news-card__text-sleeps-number"><i class="fas fa-bed"></i>{{ room.sleeps_number }} гостей</p>
            </a>
        </div>
        {% empty %}
            <p> К сожалению, на данный момент нет номеров удовлетворяющих Вашему поиску. Попробуйте изменить параметры поиска </p>
        {% endfor %}
    </div>
</div>
{% endblock %}