{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">информация об отеле</h2>
    <div class="about rooms">
        <div class="news-card">
            <div class="news-card__photo"><img src="../../static/vendors/images/about/amsterdam.jpg"></div>
            <div class="news-card__body">
                <h2 class="news-card__title">Eden Hotel Amsterdam</h2>
                <p class="news-card__text">
                    Отель Eden Amsterdam расположен в самом центре города Амстердама, вдоль знаменитой реки Амстел и
                    оживленной площади Рембрандта. Его внешний вид уникален благодаря особенностям различных
                    исторических зданий канала, в которых находится отель. Здесь вы ощутите настоящий Амстердам!
                </p>
                <p class="news-card__text">
                    В фойе круглосуточно производится оформление заезда и выезда. Лифт доставит вас на верхние этажи.
                    Работают камера хранения багажа, сейф и пункт обмена валюты. WiFi в общественных зонах позволит
                    гостям быть в курсе событий.
                </p>
                <p class="news-card__text">
                    Ценителей хорошей кухни ждут ресторан, столовая, зал для завтраков,
                    кафе и бар. Прибывшие на собственной машине могут пользоваться гаражом или парковкой. Отель
                    предлагает медицинский сервис и прачечную. Есть прокат велосипедов для тех, кому захочется
                    самостоятельно исследовать окрестности.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}