{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">контакты разработчиков</h2>
    <div class="contacts">
        <div class="user-card user-card-green">
            <img class="user-card__photo" src="../../static/vendors/images/contacts/vladimir.png">
            <div class="user-card__body">
                <h3>Владимир Бокор</h3>
                <h6>back-end</h6>
                <div class="user-card__icons">
                    <a href="https://vk.com/s_n_e_g"><i class="fab fa-fw fa-vk"></i></a>
                    <a href="https://github.com/vladimirbokor"><i class="fab fa-fw fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="user-card">
            <img class="user-card__photo" src="../../static/vendors/images/contacts/aloyna.png">
            <div class="user-card__body">
                <h3>Алена Обложенко</h3>
                <h6>back-end, front-end</h6>
                <div class="user-card__icons">
                    <a href="https://vk.com/oblozhenko_alena"><i class="fab fa-fw fa-vk"></i></a>
                    <a href="https://github.com/AlenaOblozhenko"><i class="fab fa-fw fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="user-card user-card-green">
            <img class="user-card__photo" src="../../static/vendors/images/contacts/olessya.png">
            <div class="user-card__body">
                <h3>Олеся Хусаинова</h3>
                <h6>front-end</h6>
                <div class="user-card__icons">
                    <a href="https://vk.com/freckled_cellofun"><i class="fab fa-fw fa-vk"></i></a>
                    <a href="https://github.com/Cellofun"><i class="fab fa-fw fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}