<ul class="header__list">
    <li class="header__item header__logo">
        <a class="header__logo-link" href="{% url 'room_list' %}">
            <img src="../../static/vendors/images/general/logo.svg">
        </a>
    </li>
    <li class="header__item">
        <a class="header__item-link" href="{% url 'room_list' %}">поиск</a>
    </li>
    <li class="header__item">
        <a class="header__item-link" href="{% url 'feedback_list' %}">отзывы</a>
    </li>
    <li class="header__item">
        <a class="header__item-link" href="{% url 'contacts_list' %}">контакты</a>
    </li>
    <li class="header__item">
        <a class="header__item-link" href="{% url 'about_list' %}">об отеле</a>
    </li>
</ul>
<ul class="header__list menu" id="menu">
    {% if user.is_authenticated %}
        <li class="menu__container"><p class="menu__container-text">{{ user.get_username }}</p>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__item-link" href="{% url 'base_profile' %}">личный кабинет</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link" href="{% url 'logout' %}">выйти</a>
                </li>
            </ul>
        </li>
    {% else %}
        <li class="header__item">
            <a class="header__item-link" href="{% url 'login' %}">войти</a>
        </li>
        <li class="header__item">
            <a class="header__item-link" href="{% url 'register' %}">зарегистрироваться</a>
        </li>
    {% endif %}
</ul>