{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">Регистрация</h2>
    <form class="register" method="POST">
        {% csrf_token %}
        <div class="register__list">
            {% for field in form %}
            <div class="register__label" >{{ field.label_tag }}</div>
            {{ field }}
            {% if field.help_text %}<ul class="register__help" >{{ field.help_text }}</ul>  {% endif %}
            {% if field.errors %}<div class="register__error" >{{ field.errors }}</div> {% endif %}
            {% endfor %}
        </div>
        <div class="register__button">
            <button class="btn btn-green" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock %}}