
{% load static %}
{% load render_bundle from webpack_loader %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">{% render_bundle "main" %}
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script><script src="{% static "assets/jquery/scripts.js" %}"></script>
  <link href="./css/main.css" rel="stylesheet"></head>
  <body>
    <div class="header header-red">
<ul class="header__list">
  <li class="header__logo"><a class="header__logo-link" href="{% url 'room_list' %}"><img src="assets/images/general/logo.svg"></a></li>
  <li class="header__item"><a class="header__item-link" href="{% url 'room_list' %}">поиск</a></li>
  <li class="header__item"><a class="header__item-link" href="{% url 'feedback_list' %}">отзывы</a></li>
  <li class="header__item"><a class="header__item-link" href="{% url 'contacts' %}">контакты</a></li>
</ul>
<ul class="header__list menu" id="menu">{% if user.is_authenticated %}
  <li class="menu__container">
    <p class="menu__container-text">{{ user.get_username }}</p>
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__item-link" href="{% url 'logout' %}">выйти</a></li>
    </ul>
  </li>{% else %}
  <li class="header__item"><a class="header__item-link" href="{% url 'login' %}">войти</a></li>
  <li class="header__item"><a class="header__item-link" href="{% url 'register' %}">зарегистрироваться</a></li>{% endif %}
</ul>
    </div>
    <div class="container" style="display:none;">
<div class="container">
  <div class="room">
    <div class="room__photo">
      <div><img src="{{ room.main_picture.url }}"></div>{% for image in room.room_pictures.all %}
      <div><img src="{{ image.picture.url }}"></div>{% endfor %}
    </div>
    <div class="room__body">
      <h2>{{ room.title }}</h2>
      <div class="room__list">
        <p class="label">Описание</p>
        <p class="value">{{ room.description }}</p>
        <p class="label">Статус</p>
        <p class="value">{{ room.room_status }}</p>
        <p class="label">Цена</p>
        <p class="value">{{ room.price }}</p>
        <p class="label">Размер номера</p>
        <p class="value">{{ room.room_size }}</p>
        <p class="label">Количество мест</p>
        <p class="value">{{ room.sleeps_number }}</p>
      </div>
      <h3>Дополнительные услуги</h3>
      <div class="room__list">{% for extra_service in room.extra_services.all %}
        <p class="label">{{ extra_service.name }}</p>
        <p class="value">{{ extra_service.description }}</p>{% endfor %}
      </div>
    </div>
  </div>
</div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script></body>
</html>