* {
  margin: 0;
  padding: 0; }

body {
  color: #4f4f4f;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 1.4;
  display: none; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

.container {
  margin: 2rem auto;
  max-width: 73rem; }

.fadein {
  opacity: 0; }

p.label {
  font-weight: 900;
  text-align: right; }

p.value {
  font-weight: 300; }

.header {
  width: 100%; }
  .header:after {
    content: "";
    position: absolute;
    display: block;
    top: 3.375rem;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #f8f8f8, transparent) no-repeat;
    z-index: -99999; }
  .header__list {
    display: inline-block;
    font-weight: 900; }
  .header__logo {
    display: inline-block;
    background-color: #4f4f4f; }
    .header__logo img {
      height: 1rem;
      padding: 0 1.125rem; }
  .header__item {
    display: inline-block;
    padding: 1rem 0;
    position: relative;
    left: -0.25rem; }
    .header__item:first-child {
      left: 0; }
    .header__item:hover {
      background-color: #e75735;
      transition: 1s; }
      .header__item:hover a {
        color: #fff; }
    .header__item-link {
      color: #9d9d9d; }
  .header .menu {
    float: right;
    text-align: right; }
    .header .menu__container {
      list-style: none; }
      .header .menu__container-text {
        color: #9d9d9d; }
    .header .menu__list {
      display: none;
      position: relative;
      right: 0; }
    .header .menu__item {
      list-style: none;
      padding: 1rem 0;
      background-color: #e75735; }
      .header .menu__item:last-child {
        -webkit-border-bottom-left-radius: 0.1875rem;
        -webkit-border-bottom-right-radius: 0.1875rem;
        -moz-border-radius-bottomleft: 0.1875rem;
        -moz-border-radius-bottomright: 0.1875rem;
        border-bottom-left-radius: 0.1875rem;
        border-bottom-right-radius: 0.1875rem; }
      .header .menu__item:hover {
        background-color: #fff;
        transition: 1s; }
        .header .menu__item:hover a {
          color: #e75735; }
      .header .menu__item-link {
        color: #fff; }
  .header-green {
    background-color: #4eb7a8; }
    .header-green .header__item-link {
      color: #fff; }
    .header-green .header__item:hover {
      background-color: #fff;
      transition: 1s; }
      .header-green .header__item:hover a {
        color: #4eb7a8; }
    .header-green .header__item:active {
      background-color: #28a290;
      transition: 1s; }
    .header-green .header__logo {
      background-color: #fff; }
    .header-green .menu__container-text {
      color: #fff; }
    .header-green .menu__container:hover {
      background-color: #fff; }
      .header-green .menu__container:hover p {
        color: #4eb7a8; }
    .header-green .menu__item {
      background-color: #4eb7a8; }
      .header-green .menu__item:hover a {
        color: #4eb7a8; }

.header__item-link, .header .menu__container-text, .header .menu__item-link {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase; }

.components {
  margin: 80px auto;
  width: 650px; }
  .components__title h3 {
    text-align: center; }
  .components__content {
    margin: 70px 0;
    text-align: center; }
    .components__content .row {
      margin-bottom: 50px; }
    .components__content .buttons .btn {
      display: inline-block;
      margin: 0 10px;
      vertical-align: bottom; }
    .components__content .arrow-buttons .arw-btn {
      display: inline-block;
      margin: 0 10px; }
    .components__content .inputs {
      display: block; }
      .components__content .inputs .text-inputs {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, calc((100% - 30px) / 2));
        grid-column-gap: 30px;
        margin-bottom: 15px; }
      .components__content .inputs input,
      .components__content .inputs textarea {
        width: 100%; }
    .components__content .toggles .toggle-switch {
      display: inline-block;
      position: relative;
      top: -18px;
      margin-right: 30px; }
      .components__content .toggles .toggle-switch:last-child {
        margin-right: 0; }
    .components__content .checkboxes .checkbox {
      display: inline-block;
      position: relative;
      top: -30px;
      margin-right: 50px; }
      .components__content .checkboxes .checkbox:last-child {
        margin-right: 0; }
    .components__content .buttoned-inputs {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(2, calc((100% - 30px) / 2));
      grid-column-gap: 30px; }
      .components__content .buttoned-inputs .input__search, .components__content .buttoned-inputs select {
        width: 100%; }
    .components__content .user-cards, .components__content .cards, .components__content .widgets {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(2, calc((100% - 30px) / 2));
      grid-column-gap: 30px;
      text-align: left; }

.photo {
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-width: 100vw; }
  .photo__container {
    text-align: center;
    height: inherit; }
  .photo__title {
    position: relative;
    top: 25%;
    color: #fff; }
    .photo__title h1 {
      font-size: 4rem; }
    .photo__title h3 {
      font-size: 1.5rem;
      font-weight: 300; }
  .photo__search {
    position: relative;
    top: 65%; }
    .photo__search [class^='photo__search-'] {
      display: inline-block; }
    .photo__search-visitors, .photo__search-input {
      width: 17.5rem;
      margin-right: 1rem; }
    .photo__search-button {
      margin-left: 1rem; }
  .photo .select2-container {
    top: -0.625rem; }
    .photo .select2-container .select2-selection--single {
      height: 29px !important; }

.description {
  background-color: #e5e5e5; }
  .description__container {
    padding: 2rem;
    text-align: center; }
    .description__container p {
      color: #4f4f4f;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem; }
      .description__container p:last-child {
        margin-bottom: 0; }

.rooms {
  padding: 2rem; }
  .rooms .news-card {
    width: 100%;
    height: 31.5rem;
    margin-bottom: 2rem; }
    .rooms .news-card__photo {
      width: 65%;
      overflow: hidden; }
      .rooms .news-card__photo img {
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        transition: .5s ease-in-out;
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        border-radius: inherit; }
        .rooms .news-card__photo img:hover {
          transform: scale(1.2); }
    .rooms .news-card__body {
      width: 35%;
      padding: 2rem; }
      .rooms .news-card__body h2 {
        margin-bottom: 2rem;
        font-weight: 700; }
      .rooms .news-card__body p {
        margin-bottom: 2rem;
        font-size: 0.875rem;
        font-weight: 300; }
  .rooms-button {
    margin: 2rem 0 1rem;
    text-align: center; }

.map {
  height: 31.5rem; }
  .map #map {
    height: 100%; }
    .map #map .map-balloon__title {
      padding-right: 3rem; }

.photo__container, .description__container, .rooms, .map #map .map-balloon__container {
  margin: 0 auto;
  max-width: 73rem; }

.rooms__title, .map__title {
  color: #4f4f4f;
  text-align: center;
  margin: 1rem 0; }

.room {
  background-color: #f2f2f2;
  color: #4f4f4f;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }
  .room__photo img {
    width: 100%;
    max-height: 75vh;
    background-size: contain;
    background-position: 50% 50%;
    -webkit-border-radius: 0.1875rem;
    -moz-border-radius: 0.1875rem;
    border-radius: 0.1875rem; }
  .room__body {
    display: block;
    padding: 2rem; }
    .room__body h2 {
      margin-bottom: 2rem; }
    .room__body h3 {
      margin: 3rem 0 2rem; }
    .room__body .title-red {
      color: #e75735; }
    .room__body .title-green {
      color: #4eb7a8; }
  .room__list {
    display: grid;
    grid-template-columns: calc(35% - 1rem) calc(65% - 1rem);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem; }
  .room__button {
    margin: 2rem 0 4rem;
    text-align: center; }

.feedback {
  background-color: #f2f2f2;
  color: #4f4f4f;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  padding: 2rem; }
  .feedback__list {
    display: grid;
    grid-template-columns: calc(35% - 1rem) calc(65% - 1rem);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem; }
    .feedback__list p {
      grid-column: 1 / 2; }
    .feedback__list input, .feedback__list textarea {
      grid-column: 2 / 3; }
  .feedback__button {
    margin: 2rem 0 0 calc(35% + 1rem); }

.container__title {
  margin-bottom: 2rem; }

.btn {
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  font-weight: 900;
  font-size: 0.75rem;
  overflow: hidden;
  outline: 0;
  padding: 0.4rem 1.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn.disabled, .btn:disabled {
    background-color: #fff;
    color: #e5e5e5;
    box-shadow: 0 0.25rem 0 #e5e5e5;
    border: 0.0625rem solid #e5e5e5;
    pointer-events: none; }

.btn-green {
  background-color: #4eb7a8;
  color: #fff;
  box-shadow: 0 0.25rem 0 #28a290;
  border: 0.0625rem solid #4eb7a8; }
  .btn-green:hover {
    background-color: #fff;
    color: #4eb7a8;
    transition: 1.5s; }
  .btn-green:active {
    background-color: #4eb7a8;
    color: #fff;
    box-shadow: none;
    top: 0.25rem; }

.btn-white-green {
  background-color: #fff;
  color: #4eb7a8;
  box-shadow: 0 0.25rem 0 #28a290;
  border: 0.0625rem solid #fff; }
  .btn-white-green:hover {
    background-color: #28a290;
    color: #fff;
    border: 0.0625rem solid #28a290;
    transition: 1.5s; }
  .btn-white-green:active {
    background-color: #28a290;
    color: #fff;
    box-shadow: none;
    top: 0.25rem; }

.btn-red {
  background-color: #e75735;
  color: #fff;
  box-shadow: 0 0.25rem 0 #bf3e1f;
  border: 0.0625rem solid #e75735; }
  .btn-red:hover {
    background-color: #fff;
    color: #e75735;
    transition: 1.5s; }
  .btn-red:active {
    background-color: #e75735;
    color: #fff;
    box-shadow: none;
    top: 0.25rem; }

.btn-white-red {
  background-color: #fff;
  color: #e75735;
  box-shadow: 0 0.25rem 0 #bf3e1f;
  border: 0.0625rem solid #fff; }
  .btn-white-red:hover {
    background-color: #bf3e1f;
    color: #fff;
    border: 0.0625rem solid #bf3e1f;
    transition: 1.5s; }
  .btn-white-red:active {
    background-color: #bf3e1f;
    color: #fff;
    box-shadow: none;
    top: 0.25rem; }

.btn-sm {
  font-size: 0.625rem;
  padding: 0.18rem 0.8rem; }

.btn-green.btn-sm:active,
.btn-white-green.btn-sm:active, .btn-red.btn-sm:active,
.btn-white-red.btn-sm:active {
  box-shadow: none;
  top: 0.125rem; }

.btn-green.btn-sm,
.btn-white-green.btn-sm {
  box-shadow: 0 0.125rem 0 #28a290; }

.btn-red.btn-sm,
.btn-white-red.btn-sm {
  box-shadow: 0 0.125rem 0 #bf3e1f; }

.arw-btn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  color: #4eb7a8;
  border: 0.1875rem solid #4eb7a8;
  height: 2.75rem;
  width: 2.75rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0); }
  .arw-btn i {
    font-size: 2.5rem;
    padding: 0.1rem; }
  .arw-btn i.fa-angle-left {
    padding-right: 0.25rem; }
  .arw-btn i.fa-angle-right {
    padding-left: 0.25rem; }
  .arw-btn:hover {
    background-color: #4eb7a8;
    color: #fff;
    transition: 1.5s; }
  .arw-btn:active {
    background-color: #4eb7a8;
    color: #fff; }
  .arw-btn-disabled, .arw-btn:disabled {
    background-color: #e5e5e5;
    color: #fff;
    border: 0.1875rem solid #e5e5e5;
    pointer-events: none; }

input[type='color'],
input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'] {
  line-height: 1; }

textarea {
  line-height: 1.4;
  resize: none; }

input[type='color'],
input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'], textarea {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #4f4f4f;
  box-sizing: border-box;
  outline: none;
  padding: 0.25rem 0.75rem;
  border: 0.0625rem solid #e5e5e5;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }
  input[type='color']::placeholder,
  input[type='date']::placeholder,
  input[type='email']::placeholder,
  input[type='number']::placeholder,
  input[type='password']::placeholder,
  input[type='search']::placeholder,
  input[type='tel']::placeholder,
  input[type='text']::placeholder,
  input[type='time']::placeholder,
  input[type='url']::placeholder, textarea::placeholder {
    color: #888; }
  input:focus[type='color'],
  input:focus[type='date'],
  input:focus[type='email'],
  input:focus[type='number'],
  input:focus[type='password'],
  input:focus[type='search'],
  input:focus[type='tel'],
  input:focus[type='text'],
  input:focus[type='time'],
  input:focus[type='url'], textarea:focus, input:active[type='color'],
  input:active[type='date'],
  input:active[type='email'],
  input:active[type='number'],
  input:active[type='password'],
  input:active[type='search'],
  input:active[type='tel'],
  input:active[type='text'],
  input:active[type='time'],
  input:active[type='url'], textarea:active {
    border-color: #c0c0c0;
    background-color: #e5e5e5;
    color: #4f4f4f;
    transition: 0.5s; }

.input__validate {
  display: inline-block; }
  .input__validate .input__alert {
    float: right;
    padding: 0.4375rem 0;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    font-size: 0.625rem;
    text-transform: uppercase;
    -webkit-border-radius: 0.1875rem;
    -moz-border-radius: 0.1875rem;
    border-radius: 0.1875rem; }
    .input__validate .input__alert:after, .input__validate .input__alert::after {
      position: relative;
      float: left;
      top: 0.25rem;
      left: -0.25rem;
      width: 0;
      height: 0;
      content: '';
      transition: inherit;
      border-bottom: 0.25rem solid transparent;
      border-top: 0.25rem solid transparent; }
    .input__validate .input__alert-invalid {
      background-color: #e75735; }
      .input__validate .input__alert-invalid.input__alert:after, .input__validate .input__alert-invalid.input__alert::after {
        border-right: 0.25rem solid #e75735; }
    .input__validate .input__alert-valid {
      background-color: #4eb7a8; }
      .input__validate .input__alert-valid.input__alert:after, .input__validate .input__alert-valid.input__alert::after {
        border-right: 0.25rem solid #4eb7a8; }

.input__search button {
  padding: 0.28125rem 0.5rem;
  background-color: #e75735;
  border-color: #e75735;
  font-size: 0.875rem; }
  .input__search button:hover {
    background-color: #bf3e1f;
    transition: 1.5s; }

.input__search-empty {
  background-color: #e75735 !important;
  transition: 0.5s;
  border-color: #e75735 !important; }
  .input__search-empty::placeholder {
    color: #fff !important; }

.datepicker__input button {
  height: 100%;
  width: 2rem;
  padding: 0.28125rem;
  background-color: #4eb7a8;
  border-color: #4eb7a8;
  font-size: 1rem; }
  .datepicker__input button:hover {
    background-color: #28a290;
    transition: 1.5s; }

.input__search, .datepicker__input {
  display: inline-block;
  position: relative; }
  .input__search input, .datepicker__input input {
    float: left;
    width: 100%; }

.input__search button, .datepicker__input button {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  -webkit-border-top-right-radius: 0.1875rem;
  -webkit-border-bottom-right-radius: 0.1875rem;
  -moz-border-radius-topright: 0.1875rem;
  -moz-border-radius-bottomright: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem; }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 1.5rem; }
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .toggle-switch input:checked + .toggle-switch__handle {
      background-color: #4eb7a8; }
      .toggle-switch input:checked + .toggle-switch__handle:before {
        -webkit-transform: translateX(2.25rem);
        -moz-transform: translateX(2.25rem);
        -ms-transform: translateX(2.25rem);
        -o-transform: translateX(2.25rem);
        transform: translateX(2.25rem); }
    .toggle-switch input:checked ~ .toggle-switch__handle .toggle-switch__text-on {
      display: block; }
    .toggle-switch input:checked ~ .toggle-switch__handle .toggle-switch__text-off {
      display: none; }
    .toggle-switch input:not(:checked) ~ .toggle-switch__handle .toggle-switch__text-on {
      display: none; }
    .toggle-switch input:not(:checked) ~ .toggle-switch__handle .toggle-switch__text-off {
      display: block; }
  .toggle-switch__handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: .5s;
    background-color: #e5e5e5;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem; }
    .toggle-switch__handle:before {
      position: absolute;
      height: 1.125rem;
      width: 1.125rem;
      left: 0.1875rem;
      bottom: 0.1875rem;
      content: "";
      transition: .5s;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .toggle-switch__handle .toggle-switch__text-on {
      top: 0.25rem;
      left: -0.35rem; }
    .toggle-switch__handle .toggle-switch__text-off {
      top: 0.25rem;
      left: 0.55rem; }

.toggle-switch__handle .toggle-switch__text-on, .toggle-switch__handle .toggle-switch__text-off {
  position: relative;
  color: #fff;
  font-size: 0.75rem; }

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  color: #28a290;
  font-size: 0.75rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox input {
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0; }
    .checkbox input:checked ~ .checkbox__tick {
      transition: 0.5s;
      background-color: #4eb7a8; }
      .checkbox input:checked ~ .checkbox__tick:after {
        border: solid #fff;
        border-width: 0 0.125rem 0.125rem 0; }
    .checkbox input:not(:checked) ~ .checkbox__tick {
      transition: 0.5s; }
  .checkbox__tick {
    position: absolute;
    top: 0;
    left: -0.75rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .checkbox__tick:after {
      content: "";
      position: absolute;
      left: 0.525rem;
      top: 0.2rem;
      width: 0.3125rem;
      height: 0.625rem;
      border: solid #c0c0c0;
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: left; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 1.75rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.25rem 2.75rem 0.25rem 0.75rem; }

.select2-dropdown {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000rem;
  width: 100%;
  z-index: 1051;
  background-color: #d1d1d1;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 0.25rem 0.75rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown.select2-search--hide {
  display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 0.0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625rem !important;
  white-space: nowrap !important; }

.select2-container--default .select2-selection--single {
  background-color: #e5e5e5;
  border: 0.0625rem solid #e5e5e5;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4f4f4f; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-size: 1.25rem;
    position: relative;
    top: -0.375rem; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #888; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    overflow: hidden;
    background-color: #4eb7a8;
    -webkit-border-top-right-radius: 0.1875rem;
    -webkit-border-bottom-right-radius: 0.1875rem;
    -moz-border-radius-topright: 0.1875rem;
    -moz-border-radius-bottomright: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      content: "";
      position: absolute;
      left: 0.625rem;
      top: 0.375rem;
      width: 0.5rem;
      height: 0.5rem;
      border: solid #fff;
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .select2-container--default .select2-selection--single .select2-selection__arrow:hover {
      background-color: #28a290;
      transition: 0.5s; }
    .select2-container--default .select2-selection--single .select2-selection__arrow:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background: radial-gradient(circle, #fff 10%, transparent 10.01%) no-repeat 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .5s, opacity 1s; }
    .select2-container--default .select2-selection--single .select2-selection__arrow:active:after {
      transform: scale(0, 0);
      opacity: .2;
      transition: 0s; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #f2f2f2;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  top: 0.675rem;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4eb7a8;
  color: #fff; }

.select2-selection.select2-selection--single {
  outline: none; }

.user-card {
  display: flex;
  max-width: 17rem; }
  .user-card__photo {
    display: inline-block;
    width: 5.25rem;
    height: 5.25rem;
    margin-right: 0.75rem;
    border: 0.3125rem solid #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .user-card__body {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;
    height: 5.875rem;
    background-color: #e5e5e5;
    font-weight: 900;
    color: #4f4f4f;
    text-align: center;
    padding: 0.375rem 0.75rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem; }
    .user-card__body:before, .user-card__body::before {
      position: relative;
      float: left;
      top: calc((100% - 0.75rem) / 2);
      left: calc(-0.75rem - 0.375rem);
      width: 0;
      height: 0;
      content: '';
      border-bottom: 0.375rem solid transparent;
      border-top: 0.375rem solid transparent;
      border-right: 0.375rem solid #e5e5e5; }
    .user-card__body h3 {
      text-transform: capitalize;
      color: #e75735;
      font-weight: 400; }
    .user-card__body .user-card__icons {
      padding: 0.375rem 0.75rem;
      font-size: 1.375rem; }
      .user-card__body .user-card__icons a {
        color: inherit;
        margin-right: 0.75rem; }
        .user-card__body .user-card__icons a:last-child {
          margin-right: 0; }
        .user-card__body .user-card__icons a:hover {
          color: #e75735;
          transition: 0.5s; }
      .user-card__body .user-card__icons-red {
        color: #e75735; }
        .user-card__body .user-card__icons-red:hover {
          color: #fff;
          transition: 0.5s; }
  .user-card-green .user-card__body {
    background-color: #4eb7a8;
    color: #fff; }
    .user-card-green .user-card__body:before, .user-card-green .user-card__body::before {
      border-right: 0.375rem solid #4eb7a8; }
    .user-card-green .user-card__body h3 {
      color: #fff; }
    .user-card-green .user-card__body .user-card__icons a:hover {
      color: #e75735;
      transition: 0.5s; }

.news-card__body {
  background-color: #e75735; }
  .news-card__body .news-card__title {
    font-size: 1.75rem; }
  .news-card__body .news-card__date {
    margin-bottom: 0.625rem; }

.event-card__body {
  background-color: #4eb7a8; }
  .event-card__body .event-card__date {
    position: relative;
    top: -0.5rem;
    font-size: 1.875rem; }
    .event-card__body .event-card__date-capital {
      font-size: 4.5rem;
      margin-right: 0.5rem; }
  .event-card__body .event-card__text {
    margin-bottom: 1rem; }
  .event-card__body .event-card__button {
    text-align: center; }

.news-card, .event-card {
  display: flex;
  box-sizing: border-box; }

.news-card__photo, .event-card__photo {
  display: inline-block;
  width: 6rem;
  height: 100%;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem; }

.news-card__body, .event-card__body {
  display: inline-block;
  width: 100%;
  padding: 1.25rem 1.5rem;
  color: #fff;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem; }

.news-card__body .news-card__title, .event-card__body .event-card__date {
  font-weight: 300;
  line-height: 1;
  text-transform: none;
  margin-bottom: 0.5rem; }

.news-card__body .news-card__text, .event-card__body .event-card__text {
  font-weight: 400;
  font-size: 0.6875rem; }

#map {
  width: 100%;
  height: 17em;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }

.map-balloon {
  background-color: #e75735;
  color: #fff;
  padding: 0.875rem 1.625rem; }
  .map-balloon__title {
    position: relative;
    top: -0.375rem;
    display: inline-block;
    font-weight: 300;
    font-size: 1.875rem;
    margin-right: 1.5rem; }
  .map-balloon__address {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.75rem; }
  .map-balloon__controls {
    position: relative;
    top: 0.5rem;
    display: inline-block;
    float: right;
    font-size: 1.5rem; }
    .map-balloon__controls a {
      color: inherit;
      margin-right: 1.25rem; }
      .map-balloon__controls a:last-child {
        margin-right: 0; }
      .map-balloon__controls a:hover {
        color: #4f4f4f;
        transition: 0.5s; }

ymaps .ymaps-2-1-73-balloon {
  padding: 0 !important; }
  ymaps .ymaps-2-1-73-balloon .ymaps-2-1-73-balloon__content {
    padding: 0 !important; }

.datepicker-bundle {
  background-color: #e75735;
  color: #fff;
  width: 17.5em;
  height: 26.75rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }

.datepicker-day {
  font-weight: 300;
  font-size: 5rem;
  text-align: center; }

.ui-datepicker {
  display: none; }
  .ui-datepicker .ui-datepicker-header {
    background-color: #bf3e1f;
    position: relative; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      left: 0; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      right: 0; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-header .ui-datepicker-next-hover {
      cursor: pointer; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev-hover span, .ui-datepicker .ui-datepicker-header .ui-datepicker-next-hover span {
        border: solid #e75735;
        border-width: 0 0.125rem 0.125rem 0;
        transition: 1s; }
    .ui-datepicker .ui-datepicker-header .ui-icon {
      content: "";
      position: absolute;
      top: 0.9375rem;
      width: 0.5rem;
      height: 0.5rem;
      border: solid #fff;
      border-width: 0 0.125rem 0.125rem 0; }
      .ui-datepicker .ui-datepicker-header .ui-icon.ui-icon-circle-triangle-w {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        left: 1rem; }
      .ui-datepicker .ui-datepicker-header .ui-icon.ui-icon-circle-triangle-e {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 1rem; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      font-weight: 300;
      color: #fff;
      font-size: 1.5rem;
      line-height: 1;
      text-align: center;
      padding: 0.5rem 0; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year {
        display: none; }
  .ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1; }
    .ui-datepicker table thead {
      font-size: 0.5625rem;
      text-transform: uppercase; }
      .ui-datepicker table thead th {
        padding: 0.5625rem 0;
        text-align: center;
        border: 0;
        border-bottom: 0.0625rem solid #fff; }
    .ui-datepicker table tbody {
      background-color: #f2f2f2; }
      .ui-datepicker table tbody tr {
        border-bottom: 0.0625rem solid #fff; }
      .ui-datepicker table tbody td {
        border-right: 0.0625rem solid #fff; }
        .ui-datepicker table tbody td:last-child {
          border: none; }
        .ui-datepicker table tbody td a {
          display: block;
          color: #868686;
          font-weight: 400;
          font-size: 1.25rem;
          text-align: center;
          text-decoration: none;
          padding: 0.59375rem 0; }
          .ui-datepicker table tbody td a.ui-state-active {
            background-color: #e75735;
            color: #fff;
            transition: 1s; }
          .ui-datepicker table tbody td a.ui-state-hover {
            background-color: #9d9d9d;
            color: #f2f2f2;
            transition: 1s; }
          .ui-datepicker table tbody td a.ui-priority-secondary {
            color: #fff; }
  .ui-datepicker .ui-datepicker-buttonpane {
    background-color: #e5e5e5;
    height: 3rem;
    -webkit-border-bottom-left-radius: 0.1875rem;
    -webkit-border-bottom-right-radius: 0.1875rem;
    -moz-border-radius-bottomleft: 0.1875rem;
    -moz-border-radius-bottomright: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem; }
    .ui-datepicker .ui-datepicker-buttonpane button {
      background: none;
      border: none;
      font-size: 0.8125rem;
      font-weight: 900;
      text-transform: uppercase;
      color: #868686;
      text-align: left;
      cursor: pointer;
      padding: 1.0625rem 1.25rem;
      width: 100%;
      overflow: visible;
      outline: 0; }
    .ui-datepicker .ui-datepicker-buttonpane .ui-state-hover {
      background-color: #e75735;
      -webkit-border-bottom-left-radius: 0.1875rem;
      -webkit-border-bottom-right-radius: 0.1875rem;
      -moz-border-radius-bottomleft: 0.1875rem;
      -moz-border-radius-bottomright: 0.1875rem;
      border-bottom-left-radius: 0.1875rem;
      border-bottom-right-radius: 0.1875rem;
      color: #fff;
      transition: 1s; }

#ui-datepicker-div {
  width: 17.5rem;
  background-color: #fff;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }
  #ui-datepicker-div th {
    background-color: #e75735;
    color: #fff; }
  #ui-datepicker-div .ui-datepicker-header {
    -webkit-border-top-left-radius: 0.1875rem;
    -webkit-border-top-right-radius: 0.1875rem;
    -moz-border-radius-topleft: 0.1875rem;
    -moz-border-radius-topright: 0.1875rem;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem; }
  #ui-datepicker-div .ui-datepicker-close {
    display: none; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev, .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem; }
  .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
    display: block; }

.messenger {
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  background-color: #f2f2f2;
  width: 18rem;
  height: 26.75rem; }
  .messenger .messenger__header {
    background-color: #4eb7a8;
    -webkit-border-top-left-radius: 0.1875rem;
    -webkit-border-top-right-radius: 0.1875rem;
    -moz-border-radius-topleft: 0.1875rem;
    -moz-border-radius-topright: 0.1875rem;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem; }
    .messenger .messenger__header .messenger__name {
      font-weight: 300;
      font-size: 2.125rem;
      color: #fff;
      text-align: center;
      padding: 1.125rem; }
    .messenger .messenger__header .messenger__photo-container {
      background-color: #28a290;
      width: 100%;
      height: 2.125rem; }
      .messenger .messenger__header .messenger__photo-container .messenger__photo-image {
        position: relative;
        top: -0.75rem;
        left: calc(50% - ((5.25rem + 0.3125rem) / 2));
        width: 5.25rem;
        height: 5.25rem;
        border: 0.3125rem solid #e5e5e5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
  .messenger .messenger__body {
    background-color: #f2f2f2;
    padding: 1rem 1.5rem 1.875rem;
    -webkit-border-bottom-left-radius: 0.1875rem;
    -webkit-border-bottom-right-radius: 0.1875rem;
    -moz-border-radius-bottomleft: 0.1875rem;
    -moz-border-radius-bottomright: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem; }
    .messenger .messenger__body .messenger__controls {
      margin-bottom: 2.75rem;
      font-size: 1.25rem; }
      .messenger .messenger__body .messenger__controls a {
        color: #8e8d8d; }
        .messenger .messenger__body .messenger__controls a:hover {
          color: #4eb7a8;
          transition: 0.5s; }
        .messenger .messenger__body .messenger__controls a:active {
          color: #28a290;
          transition: 0.5s; }
      .messenger .messenger__body .messenger__controls-left {
        float: left; }
      .messenger .messenger__body .messenger__controls-right {
        float: right; }
    .messenger .messenger__body .messenger__form:before, .messenger .messenger__body .messenger__form::before {
      position: relative;
      float: left;
      top: -0.375rem;
      left: calc((100% - 0.75rem) / 2);
      width: 0;
      height: 0;
      content: '';
      margin: 0;
      border-left: 0.375rem solid transparent;
      border-right: 0.375rem solid transparent;
      border-bottom: 0.375rem solid #fff; }
    .messenger .messenger__body .messenger__form-income {
      width: auto;
      background-color: #fff; }
      .messenger .messenger__body .messenger__form-income p {
        color: #868686; }
    .messenger .messenger__body .messenger__form-outcome {
      width: 100%;
      background-color: #e5e5e5;
      color: #777; }
    .messenger .messenger__body .messenger__form-button {
      width: 100%; }

.messenger .messenger__body .messenger__form-income, .messenger .messenger__body .messenger__form-outcome {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.1875rem solid #fff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem; }

.messenger .messenger__body .messenger__form-income p, .messenger .messenger__body .messenger__form-outcome {
  font-weight: 400;
  font-size: 0.75rem; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 50%;
  background-color: transparent;
  padding: 0;
  outline: none;
  z-index: 999;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.slick-prev {
  left: 25px; }

.slick-next {
  right: 25px; }

.ripple-effect {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.5s linear; }

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.5); } }