{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">личный кабинет</h2>
    <div class="tabs">
        <ul class="tabs__head">
            <li>текущие бронирования</li>
            <li>история бронирования</li>
            {% if all_bookings %}
                <li>История бронирований клиентов</li>
            {% endif %}
            <li>личные данные</li>
        </ul>
        <div class="content tabs__body">
            <div class="content__table">
                <table>
                    <thead>
                        <tr>
                            <td class="width-50">Номер</td>
                            <td class="width-30">Период</td>
                            <td class="width-20">Действия</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in current_bookings %}
                        <tr>
                            <td>{{ booking.room.title }}</td>
                            <td>{{ booking.check_in_date }} – {{ booking.check_out_date }}</td>
                            <td>
                                <form class="content__cancel_booking_btn"
                                      action="{% url "cancel_booking" booking_id=booking.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-sm btn-red" type="submit" value="отменить бронирование">
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Отсутствуют текущие бронирования</td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="content__table">
                <table>
                    <thead>
                        <tr>
                            <td class="width-70">Номер</td>
                            <td class="width-30">Период</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings_archive %}
                        <tr>
                            <td>{{ booking.room.title }}</td>
                            <td>{{ booking.check_in_date }} – {{ booking.check_out_date }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">История бронирований пуста</td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if all_bookings %}
            <div class="content__table">
                <table>
                    <thead>
                        <tr>
                            <td class="width-50">Номер</td>
                            <td class="width-20">Клиент</td>
                            <td class="width-30">Период</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in all_bookings %}
                        <tr>
                            <td>{{ booking.room.title }}</td>
                            <td>{{ booking.renter.name }}</td>
                            <td>{{ booking.check_in_date }} – {{ booking.check_out_date }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">История бронирований клиентов пуста</td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if client %}
            <div class="content__list">
                {% if user.is_superuser %}
                    <p class="label">Роль</p>
                    <p class="value">Администратор</p>
                {% endif %}
                <p class="label">Имя</p>
                <p class="value">{{ client.name }}</p>
                <p class="label">Телефон</p>
                <p class="value">{{ client.phone }}</p>
                <p class="label">Email</p>
                <p class="value">{{ client.email }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}