{% extends 'general/base.html' %}

{% block content %}
<div class="container">
    <h2 class="container__title">личный кабинет</h2>
    <div class="tabs">
        <ul class="tabs__head">
            <li>личные данные</li>
            <li>текущие бронирования</li>
            <li>история бронирования</li>
            {% if all_bookings %}
                <li>История бронирований клиентов</li>
            {% endif %}
        </ul>
        <div class="content tabs__body">
            {% if client %}
            <div class="content__list">
                {% if user.is_superuser %}
                    <p class="label">Роль</p>
                    <p class="value">Администратор</p>
                {% endif %}
                <p class="label">Имя</p>
                <p class="value">{{ client.name }}</p>
                <p class="label">Телефон</p>
                <p class="value">{{ client.phone }}</p>
                <p class="label">Email</p>
                <p class="value">{{ client.email }}</p>
            </div>
            {% endif %}
            <div>
                {% for booking in current_bookings %}
                    <div class="content__list content__booking_item">
                        <p class="label">Номер</p>
                        <p class="value">{{ booking.room.title }}</p>
                        <p class="label">Дата начала бронирования</p>
                        <p class="value">{{ booking.check_in_date }}</p>
                        <p class="label">Дата окончания бронирования</p>
                        <p class="value">{{ booking.check_out_date }}</p>
                        <form class="content__cancel_booking_btn"
                              action="{% url "cancel_booking" booking_id=booking.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-red" type="submit" value="отменить бронирование">
                        </form>
                    </div>
                {% empty %}
                    <div class="content__block">
                        <p class="value">Отсутствуют текущие бронирования</p>
                    </div>
                {% endfor %}
            </div>

            <div>
                {% for booking in bookings_archive %}
                    <div class="content__list content__booking_item">
                        <p class="label">Номер</p>
                        <p class="value">{{ booking.room.title }}</p>
                        <p class="label">Дата начала бронирования</p>
                        <p class="value">{{ booking.check_in_date }}</p>
                        <p class="label">Дата окончания бронирования</p>
                        <p class="value">{{ booking.check_out_date }}</p>
                    </div>
                {% empty %}
                    <div class="content__block">
                        <p class="value">История бронирований пуста</p>
                    </div>
                {% endfor %}
            </div>

            {% if all_bookings %}
                <div>
                    {% for booking in all_bookings %}
                        <div class="content__list content__booking_item">
                            <p class="label">Номер</p>
                            <p class="value">{{ booking.room.title }}</p>
                            <p class="label">Клиент</p>
                            <p class="value">{{ booking.renter.name }}</p>
                            <p class="label">Дата начала брони</p>
                            <p class="value">{{ booking.check_in_date }}</p>
                            <p class="label">Дата окончания брони</p>
                            <p class="value">{{ booking.check_out_date }}</p>
                        </div>
                    {% empty %}
                        <div class="content__block">
                            <p class="value">История бронирований клиентов пуста</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}